= simple_form_for @classified_ad do |f|
  -if @classified_ad.errors.any?
    #error_explanation
      %h2= "#{pluralize(@classified_ad.errors.count, "error")} prohibited this classified_ad from being saved:"
      %ul
        - @classified_ad.errors.full_messages.each do |msg|
          %li= msg

  -#=f.input :user, :as => :hidden
  %div#items
    %ul
      - Item.all.each do |item|
        %li
          = f.label "item_id_#{item.id}" do
            = item.name
            = f.radio_button(:item_id, item.id)
            = image_tag item.image_name, :class => 'thumbnail'

  %div#info.clear
    =f.input :quantity
    =f.input :total_cost

  =f.button :submit
