%h1 Classified Ads

%table#classified_ads
  %tr
    %th
    %th Item
    %th Cost Per
    %th Quantity
    %th Total Cost
    %th
    %th
    %th

  - @classified_ads.each do |classified_ad|
    %tr
      -item = classified_ad.item
      %td.item.icon= image_tag(item.image_name, :alt => item.name)
      %td= item
      %td= classified_ad.cost_per
      %td= classified_ad.quantity
      %td= classified_ad.total_cost
      %td= link_to 'Show', classified_ad
      %td= link_to 'Edit', edit_classified_ad_path(classified_ad)
      %td= link_to 'Destroy', classified_ad, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Classified ad', new_classified_ad_path
